td.black-cell{
    width: 50px;
    height: 50px;
    background-color: #710304;
    border: 2px dotted #000;
}
td.white-cell{
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: 2px dotted #000;
}

td.rotate{
    transform: rotate(180deg);
}

td.border-cell{
    width: 50px;
    height: 50px;
    background-color: #fff;
}
.board{
    border-collapse: collapse;
}
#board{
    display: inline-block;
}
.wrap{
    margin: 100px auto 0;
    text-align: center;
}
td{
    font-size: 30px;
    font-weight: 600;
}
a{
    color: black;
}